@import './Variables';
@import './Mixins';

.footer{
    margin-top: 40px;
    // flex-basis: calc(#{$footerHeight} - 40px);
    position: relative;
    &::before{
        position: absolute;
        top:0;
        width: 40%;
        height: 1px;
        left:30%;
        background-color: #555;
        content:"";
        display: block;
    }
    .footer__wrap{
        text-align: center;
        .footer__text{
            line-height: calc(#{$footerHeight} - 40px);
            margin: 0;
            font-size: 12px;
        }
    }
}