$loginHeight: 60px;
$loginHeightLess700: 70px;
$loginHeightLess700Scroll: 50px;

$logoHeight: 100px;
$logoHeightLess700: 70px;
$logoHeightLess700Scroll: 30px;

$headerHeight: calc(#{$loginHeight} + #{$logoHeight} + 20px);
$headerHeightLess700: calc(#{$loginHeightLess700} + 20px);
$headerHeightLess700Scroll: calc(#{$loginHeightLess700Scroll} + 20px);

$footerHeight: 80px;
$footerHeightLess700: 70px;
$footerHeightLess700Scroll: 60px;