@import "./Header";
@import "./MainPage";
@import "./Footer";
@import "./RegisterAndLogin";
@import "./UserPanel";
@import "./Variables";
@import "./Mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  margin: 0;
  background-color: #f2f2f2;
}

.App {
  @include flex-mother($flex-direction: column);
  max-width: 1024px;
  margin: auto;
  padding-top: calc(#{$headerHeight} + 20px);
  height: 100vh;
}

@media (max-width: 700px) {
  .App {
    padding-top: calc(#{$headerHeightLess700} + 10px);
  }
}

@media (max-width: 400px) {
  .App {
    padding-top: calc(#{$headerHeightLess700Scroll} - 10px);
  }
}
